.DS_Store
.history
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
*.bak
*.swp
*.swo
*.tmp
*.env
.env.*
.idea
.vscode
*.iml
*.sublime-project
*.sublime-workspace
*.egg-info
dist
build
*.egg
*.egg-info
*.egg-info/
*.egg-info/*
*.egg-info/*.egg-info
*.egg-info/*.egg
*.egg-info/*.egg-info/